# Data Structure: 2D Arrays 
It is a array of array or list of list

In [10]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://media.geeksforgeeks.org/wp-content/uploads/two-d.png", width=300, height=300)

The image above shows a 2D array of size 3x3

We assume a 2D array has a recantgular shape: It means each row has the same amount of items as all the other rows
Can we assume each row is the same number of items

## Initializing:

In [24]:
a = [[1,3,9,4],[5,0,8,-3]]
b = [[1, 2, 3, 4],
     [5,6,7,8]]

## Retrieving:
Retrieve row: list[row]

Retrieve column: [column[the_column_you_want] for column in list]

Retrieve a specific location/element: list[row][column]

In [19]:
#Retrieving a row
a[0]

[1, 3, 9, 4]

In [29]:
#Retrieving a column
[col[0] for col in a]

[1, 5]

In [20]:
#Retrieving a specific location or element
#Getting the element in the first row and second column in list a
a[0][1]

3

## Setting:

In [25]:
print(a[0][1])
a[0][1] = 100
print(a[0][1])
print(a)

3
100
[[1, 100, 9, 4], [5, 0, 8, -3]]

## Iterating over a 2D array

Two Ways to iterate over a 2D array
- Method 1: for row in item list (element based)
- Method 2: for i in range(len(list)) (index based)

In [27]:
#Method 1: for row in item list (element based)
#It uses a nested for loop and nested elements: row and item -> row in a & item in row
for row in a:
    for item in row:
        print(item)

1
100
9
4
5
0
8
-3

In [28]:
#Printing out just the row
for row in a:
    print(row)

[1, 100, 9, 4]
[5, 0, 8, -3]

In [30]:
#Method 2: for i in range(len(list)) (index)
#It uses a nested for loop and nested index: i and j
#i represents the row (a[i]) and j represent the columns in the row 
#Iterating through row
for i in range(len(a)):
    #Iterating through column
    for j in range(len(a[i])):
        print(a[i][j])

1
100
9
4
5
0
8
-3

# Problems to Solve:

Problem 1: Intialize a new 2D array with [1,2,3] in the first row and [5,6,7] in the second row. Store it in a new variable called a_2d

In [33]:
a_2d = [[1,2,3],[5,6,7]]
a_2d

[[1, 2, 3], [5, 6, 7]]

Problem 2: From 2D array called b_2d, defined below, replace the number 6 with the number 99.

In [2]:
b_2d = [[1, 2, 3], [5, 6, 7]]

In [5]:
b_2d[1][1] = 99
print(b_2d[1][1])

99

Problem 3: Iterate over each item in c_2d and print it using the "for in ...." syntax.

In [7]:
c_2d = [['a','b','c'],
       ['x','y','z']]
print(c_2d)

[['a', 'b', 'c'], ['x', 'y', 'z']]

In [8]:
for row in c_2d:
    for element in row:
        print(element)

a
b
c
x
y
z

Problem 4: Iterate over each item in d_2d and print it using "for i in range(...)" syntax.

In [9]:
d_2d = [['a','b','c'],
       ['x','y','z']]
print(d_2d)

[['a', 'b', 'c'], ['x', 'y', 'z']]

In [10]:
for i in range(len(d_2d)):
    for j in range(len(d_2d[i])):
        print(d_2d[i][j])

a
b
c
x
y
z

Problem 5: You're given a 2D array with the same number of rows and columns. Write a function that adds up the diagonal elements and returns the sum.

For example, you're given 2D arr:
[[1,2,3],
[4,5,6],
[7,8,9]]
The diagonal are 1,5, and 9, so your function should return 15.

In [5]:
#Modify the following function:
def diagonal_sum(given_2d):
    sum = 0
    for i in range(len(given_2d)):
        sum = sum + given_2d[i][i]
        
    return sum

In [14]:
given_2d = [[1,2,3],[4,5,6],[7,8,9]]
print("2D = " + str(given_2d))
print("sum = " + str(diagonal_sum(given_2d)))

2D = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum = 15

In [15]:
given_2d = [[1,2,3],[4,5,6],[7,8,5]]
print("2D = " + str(given_2d))
print("sum = " + str(diagonal_sum(given_2d)))

2D = [[1, 2, 3], [4, 5, 6], [7, 8, 5]]
sum = 11

In [ ]:
1+5+9

# Sample Interview Question Number 3: 2D

### Clarifying Questions:
##### What is the size of the chessboard?
It could be any size (2x2 or 99x99)
#### Is it always square shape? (#columns = #rows)?
Yes
#### Could the given array be empty?
No, the size of the chessboard would be at least 1x1.

In [1]:
def rooks_are_safe(arr):
    rows = []
    cols = []
    
    for i in range(len(arr)):
        for j in range(len(arr[i])):
            if(arr[i][j] == 1):
                rows.append(i)
                cols.append(j)
                
    print("rows = " + str(rows))
    print("cols = " + str(cols))
    
    for i in range(len(rows)):
        for j in range(len(rows)):
            #Checking if their more than one rooks in a rows
            if(i != j and rows[i] == rows[j]):
                #print("i:"+str(i))
                #print("j:"+str(j))
                #print("Error: row")
                return False
            #Checking if their more than one rooks in a columns
            if(i != j and cols[i] == cols[j]):
                #print("Error: col")
                return False
                
    return True
    
# O(n^2+n^2)T -> O(n^2)T bbecause we used two nested for loops 
# O(n+n) -> O(n)S because we created two arrays

In [55]:
arr = [[0,1,0,0],[1,0,0,0],[0,0,1,0],[0,0,0,1]]
print("arr = " + str(arr))
rooks_are_safe(arr)
#O(n^2) T
#O(1) S

arr = [[0, 1, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]
rows = [0, 1, 2, 3]
cols = [1, 0, 2, 3]

True

### the Tew Engineering World Solution:

In [57]:
#He sums up the numbers in the row if the sum is greater than 1 then the rook isn't safe
#He sums up the numbers in the column if the sum is greater than 1 then the rook isn't safe 
def rooks_safe(chessboard):
    n = len(chessboard)
    for row in range(n):
        row_count = 0
        for col in range(n):
            row_count += chessboard[row][col]
            if row_count > 1:
                return False
    for col in range(n):
        col_count =0
        for row in range(n):
            col_count += chessboard[row][col]
            if col_count > 1:
                return False
            
            
    return True

# O(n^2+n^2) -> O(n^2) because we used two nested for loops 
# O(1) because we only created variables of primitive data types